flows.json
[{"id":"b854fcdb.b7aa2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d69b5cb4.84a4","type":"debug","z":"b854fcdb.b7aa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":180,"wires":[]},{"id":"3cf9d800.84c3a8","type":"ui_text","z":"b854fcdb.b7aa2","group":"96ca6604.037ba8","order":2,"width":10,"height":2,"name":"Query","label":"User Input","format":"{{msg.payload}}","layout":"col-center","x":790,"y":240,"wires":[],"inputLabels":["asd"]},{"id":"afd1d88b.b67c18","type":"watson-conversation-v1","z":"b854fcdb.b7aa2","name":"JARVIS","workspaceid":"bd16ddf3-cff1-4c58-b765-944b36dd1c83","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/3b5a75d0-fb78-4256-b7e6-caf3a8918ed5","timeout":"","optout-learning":false,"x":780,"y":400,"wires":[["f4413233.c855c","971270f0.ddbfd"]]},{"id":"c44773f.cc1f69","type":"ui_text","z":"b854fcdb.b7aa2","group":"9934b16f.bb45","order":1,"width":"10","height":"5","name":"Response","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":240,"wires":[]},{"id":"e1db7884.bb3278","type":"debug","z":"b854fcdb.b7aa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":360,"wires":[]},{"id":"f4413233.c855c","type":"function","z":"b854fcdb.b7aa2","name":"","func":"msg.payload.text=\"\"; \nif(msg.payload.context.webhook_result_1)\n{ \n    for(var i in msg.payload.context.webhook_result_1.results)\n    { \n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    } \n    msg.payload=msg.payload.text; \n    \n} \nelse \nmsg.payload = msg.payload.output.text[0];\nreturn msg; ","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["e1db7884.bb3278","c44773f.cc1f69"]]},{"id":"3468ba44.b18b46","type":"ui_form","z":"b854fcdb.b7aa2","name":"","label":"","group":"96ca6604.037ba8","order":4,"width":10,"height":2,"options":[{"label":"Enter your Query","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":390,"y":320,"wires":[["d69b5cb4.84a4","db40d436.f737d8"]]},{"id":"db40d436.f737d8","type":"function","z":"b854fcdb.b7aa2","name":"","func":"msg.payload = msg.payload.query\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["afd1d88b.b67c18","3cf9d800.84c3a8"]]},{"id":"971270f0.ddbfd","type":"debug","z":"b854fcdb.b7aa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":480,"wires":[]},{"id":"de536b24.258068","type":"ui_button","z":"b854fcdb.b7aa2","name":"","group":"96ca6604.037ba8","order":1,"width":10,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"cyan","icon":"","payload":"true","payloadType":"bool","topic":"","x":230,"y":480,"wires":[["51efc232.0c0b1c"]]},{"id":"51efc232.0c0b1c","type":"switch","z":"b854fcdb.b7aa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":410,"y":480,"wires":[["675635d2.6e5fdc","1ed3f998.8cb3c6"]]},{"id":"675635d2.6e5fdc","type":"function","z":"b854fcdb.b7aa2","name":"","func":"msg.payload = \"welcome\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":480,"wires":[["afd1d88b.b67c18"]]},{"id":"b250650a.20c2e8","type":"inject","z":"b854fcdb.b7aa2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.0","x":210,"y":380,"wires":[["51efc232.0c0b1c"]]},{"id":"1ed3f998.8cb3c6","type":"function","z":"b854fcdb.b7aa2","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":240,"wires":[["3468ba44.b18b46","3cf9d800.84c3a8"]]},{"id":"96ca6604.037ba8","type":"ui_group","z":"","name":"Questions Here","tab":"15823435.e446cc","order":1,"disp":true,"width":"10","collapse":false},{"id":"9934b16f.bb45","type":"ui_group","z":"","name":"Purvesh's Bot Response","tab":"15823435.e446cc","order":2,"disp":true,"width":"10","collapse":false},{"id":"15823435.e446cc","type":"ui_tab","z":"","name":"Intelligent Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]