Node-RED Flow/flows.json
[{"id":"fd3653ba.9c0f3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f595a00.8b12c4","type":"ui_form","z":"fd3653ba.9c0f3","name":"","label":"","group":"96ca6604.037ba8","order":2,"width":18,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":174,"y":243,"wires":[["7b5b8162.ba8e4"]],"l":false},{"id":"7b5b8162.ba8e4","type":"function","z":"fd3653ba.9c0f3","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":162,"wires":[["2c692199.d56c7e"]],"l":false},{"id":"9bb23a7d.d9e218","type":"function","z":"fd3653ba.9c0f3","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":687,"y":164,"wires":[["2bc0e09c.a246d"]],"l":false},{"id":"2c692199.d56c7e","type":"watson-conversation-v1","z":"fd3653ba.9c0f3","name":"Customer Help Desk","workspaceid":"bd16ddf3-cff1-4c58-b765-944b36dd1c83","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/3b5a75d0-fb78-4256-b7e6-caf3a8918ed5","timeout":"","optout-learning":false,"x":480.00000762939453,"y":84.00000381469727,"wires":[["8effcbd1.b19808","9bb23a7d.d9e218"]],"l":false},{"id":"8effcbd1.b19808","type":"debug","z":"fd3653ba.9c0f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":50,"wires":[],"l":false},{"id":"2bc0e09c.a246d","type":"ui_text","z":"fd3653ba.9c0f3","group":"96ca6604.037ba8","order":4,"width":18,"height":6,"name":"","label":"BOT'S ANSWER","format":"{{msg.payload}}","layout":"col-center","x":748,"y":293,"wires":[],"l":false},{"id":"96ca6604.037ba8","type":"ui_group","z":"","name":"Conversation","tab":"15823435.e446cc","order":1,"disp":true,"width":18,"collapse":false},{"id":"15823435.e446cc","type":"ui_tab","z":"","name":"Customer Care Help Desk","icon":"dashboard","disabled":false,"hidden":false}]